* {
  word-break: keep-all;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

html,
body {
  max-height: 800px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.ant-list-item-meta-content {
  max-width: 500px;
  overflow-x: scroll;
}

.ant-list-item-meta-title {
  font-size: 20px !important;
}

.ant-list-item-meta-description {
  display: flex;
  color: black !important;
}

